/* --------------------------------------- ESTILOS GENERALES ---------------------------------------*/









/* --------------------------------------- ESTILOS HAROLD ---------------------------------------*/


/* --------------------------------------- ESTILOS GASTON ---------------------------------------*/
.contacto-row {
    padding: 30px;
    text-align: center;
}

.formulario .contactanos {
    border: 1px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
    height: 60px;
    font-size: 15px;
    box-shadow: 0px 0px 6px rgba(56, 52, 52, 0.2);
}

.formulario .mensaje_contacto {
    border: 1px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
    height: 160px;
    font-size: 15px;
    box-shadow: 0px 0px 6px rgba(56, 52, 52, 0.2);
}

.formulario .boton_contacto {
    font-size: 15px;
    transition: ease-in all 0.5s;
    background-color: #fff;
    text-transform: uppercase;
    width: 25%;
    height: 40px;
    border-radius: 5px;
}

.formulario .boton_contacto:hover {
    background-color: royalblue;
    transition: ease-in all 0.5s;
}
/* --------------------------------------- ESTILOS LUCAS ---------------------------------------*/

/* --------------------------------------- Servicios - Lucas ---------------------------------------*/

.servicios-section {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.servicios-row {
    display: flex;
    flex-wrap: wrap;
}

.servicio-item {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.servicio-img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    border: 5px solid #fff; 
}

.servicio-item h3 {
    font-size: 18px;
    margin-top: 15px;
    color: #3b607b;
}

/* --------------------------------------- Footer - Lucas ---------------------------------------*/

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-links, .footer-extra {
    flex: 1;
}

.footer-title {
    flex: 2;
    text-align: center;
}

.footer-title i {
    display: block;
    margin: 0 auto 10px;
    font-size: 50px;
}

.footer-links ul, .footer-extra ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-extra ul li{
    margin: 10px 0;
}

.footer-links ul li a, .footer-social-media a, .footer-extra ul li a {
    color: white;
    text-decoration: none;
}

.footer-links ul li a:hover, .footer-social-media a:hover, .footer-extra ul li a:hover {
    color: #0866ff;
}

.footer-social-media {
    margin: 20px 0;
}

.footer-social-media a {
    margin: 0 10px;
}

.footer-social-media img {
    width: 24px;
    height: 24px;
}

.footer-copyright {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}

/* --------------------------------------- ESTILOS DANIEL ---------------------------------------*/

#daniel .section {
    width: 100%;
    min-height: 80vh;
    background-color: #ffffff;
}

#daniel .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top:100px;
}

#daniel .content-section{
    float: right;
    width: 55%;
}

#daniel .image-section{
    float: left;
    width: 33%;
}

#daniel .image-section img{
    width: 100%;
    height: auto;
}

#daniel .content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}




#daniel .content-section .content h3{
    margin-top: 20px;
    color: #1100ff;
    font-size: 21px;
}

#daniel .content-section .content p{
    color: #000000;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

#daniel .content-section .content .button{
    margin-top: 30px;
}

#daniel .content-section .content .button a{
    background-color: #1100ff;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

#daniel .content-section .content .button a:hover{
    background-color: blue;
    color: #ffffff;
}

#daniel .content-section .social{
    margin: 40px -5px;
}

#daniel .content-section .social i{
    color: blue;
    font-size: 22px;
    padding: 0px 10px;
}

#daniel .content-section .social i:hover{
    color:#464646;
}

@media screen and (max-width: 768px){
    #daniel .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    #daniel .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    #daniel .image-section{
        float: none;
        width: 100%;
    }
    #daniel .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    #daniel .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    #daniel .content-section .content .button{
        text-align: center;
    }
    #daniel .content-section .content .button a{
        padding: 9px 30px;
    }
    #daniel .content-section .social{
        text-align: center;
    }
}





/* --------------------------------------- testimonios - Daniel ---------------------------------------*/








#daniel html{
    font-weight: 200;
}

#daniel h1, h2, h3, h4 ,h5 ,h6, p{
    margin: 0;
    padding: 0;
}
.daniel{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.testimonials{
    padding-top: 40px;
    padding-bottom: 2.2em; 
    text-align: center;
    color: #666;
}
.testimonials h1{
    color: #222;
    font-size: 2.0em;
}
.testimonials .test-body{padding: 1em;}
.testimonials .item{ 
    text-align: center;
    padding: 1em 0;
}
.testimonials img{
    width: 4.8em;
    height: 4.8em;
    border-radius: 50%;
}
.testimonials .name{color: blue;}
.testimonials .desig{
    font-size: 0.7em;
    padding: 0.5em 0;
    color: #777;
}
.testimonials .share{
    margin: 0 auto;
    width: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.testimonials i{
    color: #bfbfbf;
    padding: 0.5em 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.testimonials i:hover{color: blue;}
.testimonials p{
    justify-content: center;
    max-width: 27em;
    margin: 0 auto;
    font-size: 0.8em;
}


@media (min-width: 38.4rem){
    .testimonials{
        font-size: 1.2em;
    }
    .testimonials .test-body{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .testimonials p{
        text-align: left;
        padding: 1em;
    }
}

/* --------------------------------------- partners - Daniel ---------------------------------------*/

.partner-slide{
    margin-top: 100px ;
    margin-bottom: 100px ;
  }
  
  .partner-slide h1{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: var(--lightest);
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--lightest));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--lightest));
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 120px;
    margin: 0 40px;
  }