{% extends 'base.html' %}  
{%block title %} HABITACIONES {% endblock %}
{% block content%}
  <!--BANNER SECTION-->
  <section id="intro-section">
    <div class="banner-section">
      <div class="container">
        <div class="row text-center">  
          <h1 class="display-habs-title fw-bold text-capitalize">Nuestras Habitaciones</h1>
          <div class="heading-line"></div>
          <p class="display-habs-subtitle">¡Donde el lujo se encuentra con la comodidad!</p>
        </div>
      </div>    
    </div>
            
    <div class="card-container">
      <div class="cn-card">
        <div class="content-card">
        {%for room in rooms %}
          <a class="card" href="{{ url_for('habitacion', variable=room.id_room) }}">
            <div class="front" style="background-image: url({{room.url_imagen}})">
              <p> {{room.name}} </p>
            </div>
            <div class="back">
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maxime non tenetur cum hic ea,
                  provident alias corporis necessitatibus voluptatum. Sapiente, est nobis illum totam laborum cupiditate
                  itaque eaque repudiandae.</p>
                <p></p>
                {% set counter = 0 %}
                <button class="button">
                  {% for counter in range(room.stars) %}
                      <i class="bi bi-star-fill"></i>
                  {% endfor %}
                </button>

              </div>
            </div>
          </a>
         {%endfor %}
        </div>
      </div>
    </div>
  </section>           

{% endblock %}