<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../static/Styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--CSS BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <!--ICONOS BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--FAVICON-->
    <link rel="shortcut icon" href="../static/img/LOGO-ICON.png" type="image/x-icon" />
    <!--FONTAWESOME-->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <!--ANIMATE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>    
    <!--TITULO-->
    <title>TENVAGOS</title>
</head>
<body>
    <div id="home"></div> 
    <div class="harold" id="harold">
      <!--HEADER-->
      <header>
        <!--NAV BAR-->
        <div class="container-harold">
          <div class="row-harold">
            <button class="nav-toggle-harold" aria-label="abrir navegacion">
              <span class="hamburger-harold"></span>
            </button>
                <a href="home.html" class="logo">
                  <img src="../static/img/LOGO.png" alt="Hotel Tenvagos" />
                </a>
                <nav class="nav-harold">
                  <ul class="nav__list-harold nav__list--primary-harold">
                    <li class="nav__item-harold">
                      <a class="nav__link-harold" href="#">Home</a>
                    </li>
                    <li class="nav__item-harold">
                      <a class="nav__link-harold" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav__item-harold">
                      <a class="nav__link-harold" href="habitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav__item-harold">
                      <a class="nav__link-harold" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav__item-harold">
                      <a class="nav__link-harold" href="#contacto">Contacto</a>
                    </li>
                  </ul>
                  <ul class="nav__list-harold">
                    <li class="nav__item-harold">
                      <button class="nav__link--button-harold" id="harold">
                         <a class="nav__link--button1-harold" href="login.html">
                            INICIAR SESION
                            <span><i class="fab fa-user"></i></span>
                         </a>
                      </button>
                    </li>
                  </ul>
                </nav>
          </div>
        </div>
      </header>
      <!-- MAIN  -->
      <main>
        <!-- INTRO SECTION  -->
        <section class="intro-section" id="harold">
          <div class="container-harold">
            <div class="row-harold">
              <div class="col-harold">
                <h1 class="display-2">
                  <span class="display-2--name animate__animated animate__bounce">Hotel Tenvagos</span>
                  <span class="display-2--intro animate__animated animate__bounce">Un hotel que se adapta a tus necesidades</span>
                  <span class="display-2--description animate__animated animate__bounce">¡Reserva directamente en nuestra web y obtén beneficios especiales!</span>
                </h1>
              </div>
              <div class="col-harold">
                <div class="img-box-harold">
                  <img src="../static/img/Intro-Image.png" alt="Intro-Image" class="intro-image animate__animated animate__fadeInRight"/>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>        
    <!--Sobre Nosotros-->


    <div id="nosotros"></div>
    <div class="daniel" id="daniel">
        
        <div class="section" id="daniel-us">
            <div class="container" id="daniel-us">
                <div class="content-section"id="daniel-us">
                    <div class="title"id="daniel-us">
                    <h1>Acerca de TENVAGOS</h1>
                     </div>
                     <div class="content"id="daniel-us">
                        <h3>"Donde el lujo se encuentra con la comodidad"
                        </h3>
                        <p>El Hotel TENVAGOS abrió sus puertas en 1982, fundado por la familia García en Buenos Aires. Comenzó con solo diez habitaciones, pero rápidamente ganó fama 
                            por su hospitalidad y encanto. En los años 90, se amplió con un restaurante gourmet, atrayendo a turistas de todo el país. Durante las siguientes décadas, el hotel 
                            continuó modernizándose, añadiendo una piscina y un spa. Hoy en día, el Hotel TENVAGOS es un lujoso resort de 
                            treinta habitaciones, reconocido internacionalmente por su servicio excepcional y su mezcla única de tradición y modernidad.</p>
                        <div class="button" id="daniel-us">
                            <a href="">Reserva ahora!</a>
                        </div>
                     </div>
                     <div class="social" id="daniel-us">
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-whatsapp"></i>
                     </div>
                </div>
                <div class="image-section" id="daniel-us">
                    <img src="https://i.pinimg.com/564x/47/60/9f/47609ff63956c960d824f1bd68e282e3.jpg">
                </div>
            </div>
        </div>

<!--Testimonios-->
        <div class="testimonials" id="daniel">
            <h1 id="daniel">Testimonios</h1>
            <div class="test-body" id="daniel">
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/c6/f3/df/c6f3dfae6b76fcea17c975fda36586d0.jpg" id="daniel">
                    <div class="name" id="daniel">Carlos Mendoza</div>
                    <small class="desig" id="daniel">Médico Especialista</small>
                    <div class="share" id="daniel"><i class="bi bi-bing"></i><i class="bi bi-twitter-x"></i><i class="bi bi-linkedin"></i></i></div>
                    <p id="daniel">"Estuve una semana en el hotel y fue maravilloso. 
                        El personal siempre fue muy amable y las instalaciones estaban limpias y bien cuidadas. 
                        El desayuno incluido fue delicioso y variado. Sin duda, volvería a hospedarme aquí en el futuro. ¡Altamente recomendado!"</p>
                </div>
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/a9/fd/3d/a9fd3d91b5fb4b66c8afc9a7c8d2af48.jpg" id="daniel">
                    <div class="name" id="daniel">Laura García</div>
                    <small class="desig" id="daniel">Ingeniera de Software</small>
                    <div class="share" id="daniel"><i class="bi bi-github"></i><i class="bi bi-twitter-x"></i><i class="bi bi-linkedin"></i></div>
                    <p id="daniel">"Mi estancia en este hotel fue excelente. Las habitaciones eran cómodas y modernas, y el personal siempre estaba dispuesto a ayudar.
                         La ubicación es perfecta, cerca de muchos restaurantes y tiendas. 
                         Además, el servicio de habitaciones fue rápido y eficiente. ¡Muy satisfecha!"</p>
                </div>
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/d8/bf/4a/d8bf4a1465fcf805f838f8c26fbe46b4.jpg" id="daniel">
                    <div class="name" id="daniel">Alejandro Ramírez</div>
                    <small class="desig" id="daniel">Arquitecto</small>
                    <div class="share" id="daniel"><i class="bi bi-bing"></i><i class="bi bi-twitter-x"></i><i class="bi bi-linkedin"></i></div>
                    <p id="daniel">"Pasamos un fin de semana estupendo en este hotel. El spa fue una experiencia relajante y la piscina siempre estaba limpia. 
                        Las habitaciones eran amplias y tenían todas las comodidades necesarias. 
                        El personal fue extremadamente cortés y profesional. ¡Volveremos seguro!"</p>
                </div>
            </div>
            <div class="test-body" id="daniel">
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/be/73/31/be73315b54a89d2c0425c5c9b398d884.jpg" id="daniel">
                    <div class="name" id="daniel">Isabel Fernández</div>
                    <small class="desig" id="daniel">Abogada Corporativa</small>
                    <div class="share" id="daniel"><i class="bi bi-bing"></i><i class="bi bi-twitter-x"></i><i class="bi bi-linkedin"></i></div>
                    <p id="daniel">"Este hotel es fantástico. Desde el check-in hasta el check-out, todo fue impecable.
                         La habitación tenía una vista espectacular y estaba muy bien equipada.
                          El desayuno buffet tenía una gran variedad de opciones y todo estaba delicioso.
                           ¡Gracias por una estancia inolvidable!"</p>
                </div>
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/33/7a/5f/337a5fef9e8c54a791bf0b8a4e88411a.jpg" id="daniel">
                    <div class="name" id="daniel">Marcos López</div>
                    <small class="desig" id="daniel">Gerente de Finanzas</small>
                    <div class="share" id="daniel"><i class="bi bi-bing"></i><i class="bi bi-twitter-x"></i><i class="bi bi-linkedin"></i></div>
                    <p id="daniel">"Nos encantó nuestra estancia aquí. Las instalaciones son modernas y bien mantenidas.
                         El personal fue muy atento y siempre dispuesto a ayudar con una sonrisa. La ubicación es ideal para explorar la ciudad a pie.
                          ¡Definitivamente, una gran elección para nuestra escapada!"</p>
                </div>
                <div class="item" id="daniel">
                    <img src="https://i.pinimg.com/564x/31/ea/c1/31eac1a624082824fdc5950f0a7bb308.jpg" id="daniel">
                    <div class="name" id="daniel">Sofía Martínez</div>
                    <small class="desig" id="daniel">Cantante</small>
                    <div class="share" id="daniel"><i class="bi bi-bing"></i><i class="bi bi-twitter-x"></i><i class="bi bi-spotify"></i></div>
                    <p id="daniel">"Mi experiencia en este hotel fue muy positiva. Las habitaciones eran limpias y acogedoras, y el personal siempre estaba disponible para cualquier necesidad.
                         El gimnasio y la piscina fueron un gran plus. 
                         El desayuno fue variado y delicioso. ¡Recomiendo este hotel a cualquiera!"</p>
                </div>
            </div>
              
        </div>

<!--parallax-->
<div class="parallax-top">
    <div class="contenido-parallax">
    <h2>Tenvagos</h2>
    <p>Imagina un lugar donde cada detalle está pensado para ti. Bienvenido a nuestro hotel, donde nos adaptamos a tus necesidades y deseos.
         Ya sea que busques una estancia de negocios eficiente, una escapada romántica, o unas vacaciones familiares inolvidables, aquí encontrarás el espacio perfecto. 
         Ofrecemos servicios personalizados, desde habitaciones confortables y equipadas, hasta gastronomía deliciosa que satisface todos los paladares. 
         Nuestro personal atento y profesional está siempre dispuesto a ayudarte, asegurando que tu experiencia sea tan única como tú.
         Ven y descubre un hotel donde tus expectativas son nuestra prioridad.</p>
         <a class="parallax-button" href="#">Reserva ahora!</a>
  </div>

</div>
<!--parallax-->

    <!--servicios-->
    <section id="servicios" class="servicios-section">
        <div class="container">
            <h2 class="mb-4">Servicios</h2>
            <div class="row servicios-row">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/wifi.jpg" alt="Wifi" class="img-fluid servicio-img">
                        <h3>Wifi</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/desayuno.jpg" alt="Desayuno" class="img-fluid servicio-img">
                        <h3>Desayuno</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/piscina.jpg" alt="Piscina" class="img-fluid servicio-img">
                        <h3>Piscina</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/estacionamiento.jpg" alt="Estacionamiento" class="img-fluid servicio-img">
                        <h3>Estacionamiento</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/gimnasio.jpg" alt="Gimansio" class="img-fluid servicio-img">
                        <h3>Gimnasio</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/juegos.jpg" alt="Centro de Juegos" class="img-fluid servicio-img">
                        <h3>Centro de Juegos</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/luz.jpg" alt="Luz 24/7" class="img-fluid servicio-img">
                        <h3>Luz 24/7</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/lavanderia.jpg" alt="Lavanderia" class="img-fluid servicio-img">
                        <h3>Lavanderia</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="servicio-item text-center">
                        <img src="../static/img/bar.jpg" alt="Bar" class="img-fluid servicio-img">
                        <h3>Bar</h3>
                    </div>
                </div>
                <!-- si hacen falta mas servicios aca -->
            </div>
        </div>
    </section>
    
    <!--contacto-->
    <section id="contacto">
        <div class="container">
            <div class="row contacto-row">
                <div class="col-md-12">
                    <h2>Contáctanos</h2>
                </div>
            </div>
            <div class="row contacto-row">
                <div class="col-md-6">
                    <form action="", method="POST", class="formulario">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="contactanos" type="text" placeholder="NOMBRE" name="nombre" id="fnombre">
                            </div>
                            <div class="col-md-12">
                                <input class="contactanos" type="text" placeholder="APELLIDO" name="apellido" id="fapellido">
                            </div>
                            <div class="col-md-12">
                                <input class="contactanos" type="text" placeholder="TELÉFONO" name="telefono" id="ftelefono">
                            </div>
                            <div class="col-md-12">
                                <textarea class="mensaje_contacto" type="text" placeholder="MENSAJE" name="mensaje" id="fmensaje"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input class="boton_contacto" type="submit" value="ENVIAR">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="map-responsive">
                        <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1641.9695984256969!2d-58.363558999999995!3d-34.605699!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335ef4809ceef%3A0x3945c8c351477a54!2sHotel%20Hilton%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1717047608465!5m2!1ses-419!2sar" 
                        width="800" height="600" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partner-slide">
        <h1> Nuestros Partners</h1>
          <div class="logos">
            <div class="logos-slide">
              <img src="https://i.pinimg.com/564x/45/20/dd/4520ddfc56208707045c56232e946f7f.jpg" />
              <img src="https://i.pinimg.com/564x/a5/89/c8/a589c8077c7e4735b767a9ffc7ef6c23.jpg" />
              <img src="https://i.pinimg.com/564x/ad/78/5a/ad785a9fb1587a496092b3d2f4e912b8.jpg" />
              <img src="https://i.pinimg.com/564x/17/09/b8/1709b8e482eec0862ee62804e42766fa.jpg" />
              <img src="https://i.pinimg.com/564x/89/1a/f2/891af2adbdcdf549c672c58add333977.jpg" />
              <img src="https://i.pinimg.com/564x/e7/65/04/e7650458fe434cd647eafb289a569fe2.jpg" />
              <img src="https://i.pinimg.com/564x/45/20/dd/4520ddfc56208707045c56232e946f7f.jpg" />
              <img src="https://i.pinimg.com/564x/a5/89/c8/a589c8077c7e4735b767a9ffc7ef6c23.jpg" />
              <img src="https://i.pinimg.com/564x/ad/78/5a/ad785a9fb1587a496092b3d2f4e912b8.jpg" />
              <img src="https://i.pinimg.com/564x/17/09/b8/1709b8e482eec0862ee62804e42766fa.jpg" />
              <img src="https://i.pinimg.com/564x/89/1a/f2/891af2adbdcdf549c672c58add333977.jpg" />
              <img src="https://i.pinimg.com/564x/e7/65/04/e7650458fe434cd647eafb289a569fe2.jpg" />
              
            </div>
      
            <div class="logos-slide">
              <img src="https://i.pinimg.com/564x/45/20/dd/4520ddfc56208707045c56232e946f7f.jpg" />
              <img src="https://i.pinimg.com/564x/a5/89/c8/a589c8077c7e4735b767a9ffc7ef6c23.jpg" />
              <img src="https://i.pinimg.com/564x/ad/78/5a/ad785a9fb1587a496092b3d2f4e912b8.jpg" />
              <img src="https://i.pinimg.com/564x/17/09/b8/1709b8e482eec0862ee62804e42766fa.jpg" />
              <img src="https://i.pinimg.com/564x/89/1a/f2/891af2adbdcdf549c672c58add333977.jpg" />
              <img src="https://i.pinimg.com/564x/e7/65/04/e7650458fe434cd647eafb289a569fe2.jpg" />
              <img src="https://i.pinimg.com/564x/45/20/dd/4520ddfc56208707045c56232e946f7f.jpg" />
              <img src="https://i.pinimg.com/564x/a5/89/c8/a589c8077c7e4735b767a9ffc7ef6c23.jpg" />
              <img src="https://i.pinimg.com/564x/ad/78/5a/ad785a9fb1587a496092b3d2f4e912b8.jpg" />
              <img src="https://i.pinimg.com/564x/17/09/b8/1709b8e482eec0862ee62804e42766fa.jpg" />
              <img src="https://i.pinimg.com/564x/89/1a/f2/891af2adbdcdf549c672c58add333977.jpg" />
              <img src="https://i.pinimg.com/564x/e7/65/04/e7650458fe434cd647eafb289a569fe2.jpg" />
              
            </div>
          </div>
    </section>


</div>

    <!--Footer-->
    <div class="lucas-footer">
        <footer>
            <div class="footer-container">
                <div class="footer-links">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="#header">Inicio</a></li>
                        <li><a href="#nosotros">Sobre Nosotros</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                </div>
                
                <div class="footer-title">
                    <img src="../static/img/LOGO.png" alt="TENVAGOS">
                </div>
                
                <div class="footer-extra">
                    <h3>Patrocinadores</h3>
                    <ul>
                        <li><a href="https://www.macdonals.com">Macdonals</a></li>
                        <li><a href="https://www.cocacola.com">Coca Cola</a></li>
                        <li><a href="https://www.amazon.com">Amazon</a></li>
                        <li><a href="https://google.com">Google</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-social-media">
                <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
                <a href="https://www.twitter.com"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.whatsapp.com"><i class="bi bi-whatsapp"></i></a>
            </div>
            
            <div class="footer-copyright">
                <p>&copy; 2024 TENVAGOS &copy; . Todos los derechos reservados.</p>
            </div>
        </footer>


<!-- SCRIPT-->
    <script src="script/myscripts.js"></script>
    
</body>
</html>