{% extends 'base.html' %}
{% block title %} LOGIN {% endblock %}
{% block content %}
    <div class="login">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-login"> 
              <span class="display-2--name">Hotel Tenvagos</span>
                <span class="display-3--description">
                  <p>Estamos encantados de tenerte con nosotros. Por favor, inicia sesión para 
                     acceder a tu cuenta y disfrutar de todos los beneficios exclusivos que 
                     hemos preparado para ti. 
                  </p>
                  <p>Al iniciar sesión, podrás:</p> 
                </span>
                <ul class="display-3--description">
                  <li>
                    <p>Verificar disponibilidad de las habitaciones</p>
                  </li>
                  <li>
                    <p>Filtrar habitaciones por estrellas</p>
                  </li>
                  <li>
                    <p>Ver al detalle cada habitación</p>
                  </li>
                </ul>
            </h3>
          </div>
          <div class="col-md-6 login_form">
            <h3 class="text-center text-login-form">Inicie sesión</h3>
              <div class="heading-line"></div>
                    
                <form action="{{url_for('login')}}", method="POST">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-primary" role="alert">
                    <strong>{{ message }}</strong>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {%endwith %}
                  <div class="row login-row">
                    <div class="mb-3">
                      <label class="form-label" for="user">Usuario</label>
                      <input class="log_box" type="text" name="user", id="fuser" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="user">Contraseña</label>
                      <input class="log_box" type="password" name="contraseña", id="fcontraseña" required>
                    </div>
                    <div class="text-center">
                      <input class="btn btn-primary boton_form" type="submit" value="Iniciar Sesión">
                    </div>
                    <div>
                      <p>¿Olvido su contraseña?</p>
                      <a href="{{url_for('registro')}}">¿Todavia no tenes una cuenta? Creala ahora</a>
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
