{% extends 'base.html' %}
{% block title %} RESERVAR {% endblock %}
{% block content %}
<section class="banner-reservar-section" style="min-height: 100vh; height:fit-content">
    <div class="container">
        <div class="row text-center">
            <div class="container my-5">
                <div class="form-container p-4 bg-light rounded shadow">
                    <form id="reservationForm" class="row g-3" action="{{ url_for('reservar') }}" method="POST">
                        <div class="col-md-4">
                            <label for="checkin" class="form-label">Fecha de Entrada:</label>
                            <input type="date" id="start_date" name="checkin" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label for="checkout" class="form-label">Fecha de Salida:</label>
                            <input type="date" id="end_date" name="checkout" class="form-control" required>
                        </div>
                        <div class="col-md-4" text-center>
                            <button type="submit" class="btn btn-primary">VER DISPONIBILIDAD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="results" class="container-reserve"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('reservationForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const startDate = document.getElementById('start_date').value;
                const endDate = document.getElementById('end_date').value;
                fetch(`https://tenvagoss.pythonanywhere.com/rooms?start_date="${startDate}"&end_date="${endDate}"`, {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        const results = document.getElementById('results');
                        results.innerHTML = ''; // Limpiar resultados anteriores
                        if(data.length){
                            data.forEach(room => {
                                const div = document.createElement('div');
                                div.className = 'room';
                                div.innerHTML = ` <div class="card-reserve">
                                                <img src="../static/${room.url_imagen}" alt=" Imagen de la reserva" class="card-img-reserve">
                                                <div class="card-content-reserve">
                                                    <h3 class="card-title-reserve">${room.room_name}</h3>
                                                    <h4>${room.stars}<i class="bi bi-star-fill"></i></h4>
                                                    <p class=""> ${room.description}</p>
                                                    <p class="">Capacidad: ${room.capacity} personas</p>
                                                    <p class="card-amount-reserve"> $ ${room.price}/noche</p>
                                                 <button class="card-btn complete-btn">Reservar</button>
                                                </div>
                                            </div>`;
                                results.appendChild(div);
                            });
                        } else {
                            const div = document.createElement('div');
                            div.className = 'room';
                            div.innerHTML = ` <div class="reservationFrom" style="background-color: white; padding:25px; border-radius: 5px">
                                                    <h3>No hay habitaciones disponibles entre las fechas seleccionadas!</h3>
                                            </div>
                                        </div>`;
                            results.appendChild(div);
                        }
  
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
</section>
{% endblock %}