{% extends 'base.html' %}
{% block title %} RESERVAS {% endblock %}
{% block content %}
<div class="booking">
    <div class="container">

        <div class="user-card">
            <div class="user-header">
                <img src="{{user.image}}" alt="">
                <p class="username">{{user.user_name}}</p>
            </div>
            <div class="user-details">
                <ul>
                    <li><i class="bi bi-envelope-fill"></i>{{user.email}}</li>
                </ul>
            </div>
        </div>

        <h2>Mis reservas</h2>

        <div class="container-reserve">
            {%if not reserves %}
            <div class="card-reserve">
                <h4>Historial de reservas vacio</h4>
            </div>
            {%else%}
            {% for reserva in reserves %}
            <div class="card-reserve">
                <img src="{{ url_for('static', filename='') }}{{reserva.url_imagen}}" alt=" Imagen de la reserva" class="card-img-reserve">
                <div class="card-content-reserve">
                    <h3 class="card-title-reserve">{{reserva.room_name}}</h3>
                    <p class="card-date-reserve">Fecha de entrada: {{reserva.start_date}}</p>
                    <p class="card-date-reserve">Fecha de salida: {{reserva.end_date}}</p>
                    {% if reserva.end_date < fecha%} 
                    <p class="card-amount-reserve">&nbsp;</p>
                    <button class="card-btn complete-btn">Concluido</button>
                    {% else %}
                    <p class="card-amount-reserve">Monto total: ${{reserva.amount}}</p>
                    <button class="card-btn-reserve" data-user-id="{{reserva.id_user}}" data-reserve-id="{{reserva.id_reserve}}">Cancelar</button>
                    {%endif %}
                </div>
            </div>
            {%endfor %}
            {%endif%}

        </div>

    </div>
</div>
<script>
document.querySelectorAll('.card-btn-reserve').forEach(button => {
    button.addEventListener('click', event => {
        event.preventDefault();

        const confirmation = confirm('¿Estás seguro de que querés cancelar esta reserva?');
        if (!confirmation) {
            return;
        }

        const id_user = event.target.getAttribute('data-user-id');
        const id_reserve = event.target.getAttribute('data-reserve-id');
        console.log(id_user, id_reserve)
        fetch(`https://tenvagoss.pythonanywhere.com/my_reserves/${id_user}/${id_reserve}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Error HTTP! status: ${response.status}`);
            }
            return response.json();
        })
        .then(json => {
            console.log(json);
            button.closest('.card-reserve').remove();
        })
        .catch(e => {
            console.log('Hubo un problema realizando la operación: ' + e.message);
        });
    });
});
</script>
{% endblock %}
